# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# Ignore system files
*.lock
Thumbs.db
.ntuser.dat*
*.blf
*.regtrans-ms
.env

# Ignore personal folders
/Application Data/
/Contacts/
/Documents/
/Favorites/
/Downloads/
/Links/
/Music/
/NTUSER.DAT*
/OneDrive/
/Saved Games/
/Searches/
/Videos/

# Ignore build files
/.android/
/.cache/
/config/
/.vscode/
/gradle/
/node_modules/
/flutter_firebase_app/
/dart-sdk/
